:root {
    --color-primary: #97d4d8;
    --color-secondary: #455379;
    --color-dark: rgb(40, 40, 50);
    --color-background: rgb(239, 237, 243);
}

html {
    font-size: 62.5%;
}

body {
    font-family: Poppins, sans-serif;
    background: var(--color-background)
}

a {
    text-decoration: none;
    color: var(--color-primary);
}

.navigation-bar {
    background: var(--color-dark);
    min-height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem 0 0;
}

h1.logo a {
    font-size: 4rem;
    font-weight: 600;
    padding-left: 10rem;
    color: var(--color-dark);
}

.navigation-bar ul {
    display: flex;
    justify-content: space-around;
    width: 40rem;
    list-style: none;
}

.navigation-bar li a:link {
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: 400;
    text-decoration: underline;
}


.navigation-bar li:hover {
    transform: scale(105%);
}

.primary-bg {
    padding: .5rem;
    background: var(--color-primary);
}

.hero {
    background-image: url(../images/hero-background.jpg);
    background-size: cover;
    min-height: 200px;
    position: relative;
}

.hero-subtitle {
    font-size: 1.8rem;
    color: var(--color-dark);
    padding: 1rem 2rem;
    background: var(--color-primary);
    position: absolute;
    bottom: 3rem;
    right: 10rem;
}

section.main-section h2 {
    position: absolute;
    left: -20rem;
    width: 17rem;
    text-align: right;
    color: var(--color-secondary);
    font-size: 4rem;
    font-weight: 600;
}

section.main-section {
    border-left: .4rem var(--color-secondary) solid;
    min-height: 12rem;
    margin: 10rem 12vw 10rem 20%;
    position: relative;
}

.content {
    color: var(--color-secondary);
}

.content .bio p {
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin-bottom: 1.6rem;
    margin-left: auto;
}

.bio {
    margin-left: 8rem;
}

.content.about-me {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#about-me .content #Lewis {
    border: .6rem solid var(--color-primary);
    border-radius: 50%;
    margin-left: 4rem;
}

.contact-me .links {
    list-style: none;
    height: 12rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-me .content a {
    text-decoration: underline;
    color: var(--color-secondary);
    font-weight: 600;
    font-size: 1.8rem;
}

.cards {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    max-width: 95%;
}

.card {
    flex: 1 0 40%;
    min-height: 20rem;
    border: .6rem solid var(--color-primary);
    background-position: center;
    background-size: cover;
    margin: 1rem;
    position: relative;
}

.card:first-child {
    flex: 1 0 80%;
    min-height: 50rem;
}

.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--color-primary);
    opacity: .3;
    transition: .3s all ease-out;
}

.color-overlay:hover {
    opacity: 0;
    transition: .3s all ease-out;
}

.card-title {
    background: var(--color-primary);
    position: absolute;
    bottom: 2rem;
    padding: .5rem 2rem;
    color: var(--color-dark);
}

.card-title p {
    font-size: 1.6rem;
    line-height: 2.5rem;
}

.card-title h3 {
    font-size: 2rem;
}

#surf-report {
    background-image: url(../images/surf-report.jpg);
}

#LED-wall {
    background-image: url(../images/LED-wall.jpg);
}

#calculator {
    background-image: url(../images/calculator.jpg);
}

#pastel-puzzle {
    background-image: url(../images/pastel-puzzle.jpg);
}

#run-buddy {
    background-image: url(../images/run-buddy.jpg);
}

@media screen and (max-width: 1100px) {
    section.main-section h2 {
        position: unset;
        width: 100%;
        text-align: left;
        margin: 0 0 3rem 5rem;
    }

    section.main-section {
        margin: 10rem 4vw 10rem 5%;
        position: relative;
    }

    .contact-me .links {
        height: 5rem;
    }
}

@media screen and (max-width: 950px) {
    .navigation-bar {
        background: var(--color-dark);
        min-height: 12rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0;
    }

    h1.logo a {
        font-size: 4rem;
        font-weight: 600;
        padding-left: 3rem;
        padding-right: 3rem;
        color: var(--color-dark);
    }
    
    .contact-me .links {
        list-style: none;
        height: 18rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: unset;
        padding: 0 0 2rem 5rem;
    }

    .content.about-me {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        /* align-items: center; */
    }

    .bio {
        margin-top: 3rem;
        margin-left: 5rem;
    }
}